* {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}
@keyframes loadTransition{

    from{
        opacity: 0;
        transform: translateY(-20px);
      
    }
    to{
        opacity: 1;
       transform: translate(0);
    }
}

body{
    animation: loadTransition 0.7s;
}

footer{
    color: #417D7A;
    background-color: #1A132F;
    }
    
footer a{
        text-decoration: none;
    }


header{
    padding-top: 115px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    font-size:60px;
    background-size: cover;
    background-position: center;
    padding-bottom:270px;
}

hr{
    margin-top: 20px;
    height: 1px;
    background-color: black;
    border: none;
    width: 100px;
    margin: auto;
}

html{
    scroll-behavior: smooth;
}

.about-background{
    background-image: url("assets/about-background.jpg");
}


.about-container{
    padding: 150px;
   
    font-size: 20px;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.about-container h3{
    width: 40%;
    line-height:42pt;
}

.breaker{
    padding-top: 20px;
    padding-bottom: 10px;
}

.background-color{
    background-color: white;
    position: absolute;
    opacity: 0.7;
    z-index: 1;
}
.checked {
    color: #F0A500;
    text-align: center;
    padding-left: 25px;
    padding-bottom: 10px;
  }

.display-content-heading{
    text-align: center;
    padding: 20px 20px;
}

.display-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.display-container{
    background-color:#E45826;
    padding-bottom: 20px;
    color: white;
}
.display-container p{
    text-align: justify;
    width: 250px;
    
}

.display-items img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    background-color: #F0A500;
    
}

.footer-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-bottom: 20px;
}

.footer-container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 10px;
    margin-top: 20px;
   
}
.footer-container p{
    padding-top: 5px;
}

.footer-item{
    padding: 0 15px;
    margin-bottom: 10px;
    list-style: none;
    text-decoration: none;
}

.footer-item a:hover{
    color: #F0A500;
}

.footer-container a{
    font-size: 16px;
    font-weight: 450;
    color: white;
}

.footer-container i{
    cursor: pointer;
    font-size: 30px;
    
}

.gallery-background{
    background-image: url("assets/gallery-background.jpg");
}

.gallery-container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-container img {
    width: 600px;
    padding: 10px;;
}

.gallery-container img:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.7s;
}

.home-page{
    background-image: url("assets/background1.jpg");
}

.icon{
    height: 30px;

}
.logo{
    height: 250px;
}

.menu-background{
    background-image: url("assets/menu-background.jpg");
}

.menu-container{
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 450px;
    font-size: 20px;
}

.menu-container div{
   padding-top: 40px;
   padding-bottom: 40px;
   line-height: 26pt;
}

.middle-container{
    padding-top: 20px;
    background-color: #346751;
    margin: auto;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


.nav-list{
    align-items: center;
    background:#F0A500;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    padding-top: 20px;
    padding-bottom:25px;
}

.nav-item{
    list-style:none; 
    margin-right:3rem;
}

.nav-item a {
    text-decoration: none;
color: black;
}

.nav-item a:hover {
    
    color:#417D7A;
}

.nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
}

.title{
    font-family: 'Ewert', cursive;
   color: white;
   
}

.top-container{
    padding-bottom: 20px;
}

#contact-me{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #E45826;
    line-height: 1.15;
    font-size: 16px;

}
#contact-me:hover{
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #F0A500;

}

#platter2, #interior{
    height: 988px;
}
